In [1]:
import yfinance as yf
dat = yf.Ticker("MSFT")

In [2]:
dat

yfinance.Ticker object <MSFT>

In [3]:
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250404C00230000,2025-03-19 19:10:01+00:00,230.0,160.07,0.0,0.0,0.0,0.0,1.0,0,0.000010,True,REGULAR,USD
1,MSFT250404C00250000,2025-03-28 15:30:30+00:00,250.0,133.64,0.0,0.0,0.0,0.0,3.0,0,0.000010,True,REGULAR,USD
2,MSFT250404C00290000,2025-03-28 14:37:11+00:00,290.0,94.15,0.0,0.0,0.0,0.0,1.0,0,0.000010,True,REGULAR,USD
3,MSFT250404C00300000,2025-04-03 18:28:42+00:00,300.0,75.21,0.0,0.0,0.0,0.0,10.0,0,0.000010,True,REGULAR,USD
4,MSFT250404C00310000,2025-04-01 16:29:15+00:00,310.0,71.10,0.0,0.0,0.0,0.0,500.0,0,0.000010,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,MSFT250404C00500000,2025-04-01 19:00:00+00:00,500.0,0.01,0.0,0.0,0.0,0.0,10.0,0,0.500005,False,REGULAR,USD
65,MSFT250404C00505000,2025-04-01 19:56:22+00:00,505.0,0.01,0.0,0.0,0.0,0.0,20.0,0,0.500005,False,REGULAR,USD
66,MSFT250404C00510000,2025-03-20 18:44:14+00:00,510.0,0.01,0.0,0.0,0.0,0.0,1.0,0,0.500005,False,REGULAR,USD
67,MSFT250404C00520000,2025-03-26 19:14:21+00:00,520.0,0.01,0.0,0.0,0.0,0.0,1.0,0,0.500005,False,REGULAR,USD
68,MSFT250404C00560000,2025-04-03 13:30:06+00:00,560.0,0.01,0.0,0.0,0.0,0.0,20.0,0,1.000005,False,REGULAR,USD

In [6]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers.tickers['MSFT'].info
yf.download(['MSFT', 'AAPL', 'GOOG'], period='1mo')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-03-04  235.929993  172.413574  388.609985  240.070007  174.965659
2025-03-05  235.740005  174.790878  401.019989  236.550003  175.550008
2025-03-06  235.330002  174.011765  396.890015  237.860001  176.528886
2025-03-07  239.070007  175.550003  393.309998  241.369995  176.698688
2025-03-10  227.479996  167.809998  380.160004  236.160004  170.449997
2025-03-11  220.839996  165.979996  380.450012  225.839996  168.654999
2025-03-12  216.979996  169.000000  383.269989  221.750000  169.529999
2025-03-13  209.679993  164.729996  378.769989  216.839996  168.119995
2025-03-14  213.490005  167.619995  388.559998  213.949997  168.250000
2025-03-17  214.000000  166.570007  388.700012  215.220001  168.460007
2025-03-18  212.690002  162.669998  383.519989  215.149994  166.440002
2025-03-19  215.240005  166.279999  387.820007  218.759995  168.132996
2025-03-20  214.100006  165.050003  386.839996  217.490005  167.029999
2025-03-21  218.270004  166.250000  391.260010  218.839996  166.470001
2025-03-24  220.729996  169.929993  393.079987  221.479996  170.500000
2025-03-25  223.750000  172.789993  395.160004  224.100006  172.910004
2025-03-26  221.529999  167.139999  389.970001  225.020004  171.940002
2025-03-27  223.850006  164.080002  390.579987  224.990005  167.440002
2025-03-28  217.899994  156.059998  378.799988  223.809998  163.809998
2025-03-31  222.130005  156.229996  375.390015  225.619995  157.130005
2025-04-01  223.190002  158.880005  382.190002  223.679993  160.080002
2025-04-02  223.889999  158.860001  382.140015  225.190002  160.274994
2025-04-03  203.190002  152.630005  373.109985  207.490005  154.686996

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-03-04  392.579987  234.679993  167.349336  381.000000  237.710007
2025-03-05  401.670013  229.229996  170.735486  388.809998  235.419998
2025-03-06  402.149994  233.160004  172.311690  392.679993  234.440002
2025-03-07  394.799988  234.759995  172.053986  385.540009  235.110001
2025-03-10  386.399994  224.220001  165.565002  377.220001  235.539993
2025-03-11  386.000000  217.449997  163.240005  376.910004  223.809998
2025-03-12  385.220001  214.910004  165.479996  378.950012  220.139999
2025-03-13  385.320007  208.419998  164.070007  377.450012  215.949997
2025-03-14  390.230011  209.580002  164.509995  379.510010  211.250000
2025-03-17  392.709991  209.970001  165.809998  385.570007  213.309998
2025-03-18  387.369995  211.490005  158.800003  381.100006  214.160004
2025-03-19  389.679993  213.750000  163.050003  384.000000  214.220001
2025-03-20  391.790009  212.220001  163.139999  383.279999  213.990005
2025-03-21  391.739990  211.279999  163.029999  382.799988  211.559998
2025-03-24  395.399994  218.580002  167.440002  389.809998  221.000000
2025-03-25  396.359985  220.080002  170.550003  392.640015  220.770004
2025-03-26  395.309998  220.470001  166.860992  388.570007  223.509995
2025-03-27  392.239990  220.559998  163.850006  387.399994  221.389999
2025-03-28  389.130005  217.679993  155.339005  376.929993  221.669998
2025-03-31  377.070007  216.229996  152.210007  367.239990  217.009995
2025-04-01  382.850006  218.899994  155.255005  373.230011  219.809998
2025-04-02  385.079987  221.020004  156.529999  376.619995  221.320007
2025-04-03  377.480011  201.250000  152.179993  369.350006  205.539993

Price                                  Volume
Ticker            GOOG        MSFT       AAPL      GOOG      MSFT
Date
2025-03-04  167.748890  383.399994   53798100  30711400  29342900
2025-03-05  172.123918  389.339996   47227600  18848000  23433100
2025-03-06  172.353650  394.279999   45170400  19082400  23304600
2025-03-07  173.044861  392.320007   46273600  16395300  22034100
2025-03-10  170.160004  385.839996   72071200  28990700  32840100
2025-03-11  166.679993  379.000000   76137400  23705900  30380200
2025-03-12  168.470001  382.950012   62547500  19880100  24253600
2025-03-13  167.979996  383.160004   61368300  15206200  20473000
2025-03-14  165.315002  379.779999   60107600  18611100  19952800
2025-03-17  167.324997  386.700012   48073400  17839100  22474300
2025-03-18  165.960007  387.070007   42432400  24616800  19486900
2025-03-19  163.914993  385.529999   54385400  24955700  19185500
2025-03-20  163.824997  385.739990   48862900  19981500  18470500
2025-03-21  163.380005  383.220001   94127800  29882100  39675900
2025-03-24  169.264999  395.399994   44299500  18742800  21004500
2025-03-25  171.179993  393.920013   34493600  13841600  15775000
2025-03-26  171.300003  395.000000   34466100  22498000  16108400
2025-03-27  166.710007  390.130005   37094800  21571200  13766800
2025-03-28  162.360001  388.079987   39818600  34866500  21632000
2025-03-31  154.809998  372.540009   65299300  33591600  35184700
2025-04-01  155.300003  374.649994   36412700  20111400  19689500
2025-04-02  156.960007  377.970001   35905900  17113300  16092600
2025-04-03  152.835007  374.790009  103204700  28353700  30147000

In [7]:
spy = yf.Ticker('SPY').funds_data
spy.description
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.072364
NVDA                       NVIDIA Corp         0.060659
MSFT                    Microsoft Corp         0.058428
AMZN                    Amazon.com Inc         0.039326
META        Meta Platforms Inc Class A         0.028836
GOOGL             Alphabet Inc Class A         0.019696
BRK-B   Berkshire Hathaway Inc Class B         0.018645
AVGO                      Broadcom Inc         0.018439
GOOG              Alphabet Inc Class C         0.016226
TSLA                         Tesla Inc         0.016198

In [29]:
import yfinance as yf 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
Apple = yf.download("SPY",start = "2019-01-01",end = "2021-01-01")

[*********************100%***********************]  1 of 1 completed

In [33]:
Apple

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2019-01-02  226.954742  227.889136  223.117435  223.144649  126925200
2019-01-03  221.538940  225.494183  221.049063  225.185737  144140700
2019-01-04  228.959610  229.612771  224.224203  224.605211  142628800
2019-01-07  230.764877  232.189121  228.324599  229.231765  103139100
2019-01-08  232.933014  233.422891  230.420174  232.978389  102512600
...                ...         ...         ...         ...        ...
2020-12-24  347.452484  347.480731  345.993007  346.586194   26457900
2020-12-28  350.437347  350.832806  349.401576  350.032435   39000400
2020-12-29  349.768799  352.160485  349.175583  351.981578   53680500
2020-12-30  350.267944  351.313142  349.872486  350.597512   49455300
2020-12-31  352.047638  352.782089  349.552388  350.070260   78520700

[505 rows x 5 columns]

In [35]:
ticker = ["AAPL","SPY","KO"]

In [37]:
stocks =  yf.download(ticker,start = '2010-01-01',end = '2021-01-01')

[*********************100%***********************]  3 of 3 completed

In [39]:
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2010-01-04    6.440332  17.818312   85.768463    6.455078  17.874541
2010-01-05    6.451466  17.602762   85.995499    6.487879  17.802688
2010-01-06    6.348845  17.596519   86.056046    6.477044  17.630881
2010-01-07    6.337110  17.552780   86.419266    6.379843  17.609009
2010-01-08    6.379241  17.227909   86.706856    6.379844  17.380976
...                ...        ...         ...         ...        ...
2020-12-24  128.905792  46.986725  347.452515  130.361201  47.083442
2020-12-28  133.516205  47.619781  350.437408  134.151107  47.865968
2020-12-29  131.738464  47.593399  349.768860  135.567445  47.909927
2020-12-30  130.615158  47.865974  350.267883  132.832455  48.033033
2020-12-31  129.609070  48.217663  352.047546  131.611474  48.296795

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2010-01-04   85.813869    6.391279  17.774578   84.391082    6.422878
2010-01-05   86.033341    6.417460  17.537162   85.405193    6.458087
2010-01-06   86.267949    6.342224  17.487185   85.844142    6.451464
2010-01-07   86.525218    6.291067  17.415332   85.654894    6.372319
2010-01-08   86.744698    6.291369  17.102956   86.018169    6.328684
...                ...         ...        ...         ...         ...
2020-12-24  347.480762  128.055998  46.617445  345.993037  128.270891
2020-12-28  350.832867  130.410033  47.241707  349.401636  130.878899
2020-12-29  352.160546  131.220772  47.496682  349.175644  134.844636
2020-12-30  351.313081  130.302581  47.505485  349.872425  132.431971
2020-12-31  352.781998  128.661591  47.716495  349.552297  130.966795

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2010-01-04  17.855797   85.041933  493729600  13870400  118944600
2010-01-05  17.758954   85.715485  601904800  23172400  111579900
2010-01-06  17.602766   85.912251  552160000  19264600  116074400
2010-01-07  17.596515   85.897070  477131200  13234600  131091100
2010-01-08  17.324747   86.192230  447610800  28712400  126402800
...               ...         ...        ...       ...        ...
2020-12-24  46.617445  346.586225   54930100   3265500   26457900
2020-12-28  47.347215  350.032496  124486200   9020500   39000400
2020-12-29  47.874756  351.981639  121047300   8320600   53680500
2020-12-30  47.523070  350.597451   96452100   8142700   49455300
2020-12-31  47.874759  350.070169   99116600   8495000   78520700

[2769 rows x 15 columns]

In [41]:
stocks.head()

Price          Close                            High                        \
Ticker          AAPL         KO        SPY      AAPL         KO        SPY
Date
2010-01-04  6.440332  17.818312  85.768463  6.455078  17.874541  85.813869
2010-01-05  6.451466  17.602762  85.995499  6.487879  17.802688  86.033341
2010-01-06  6.348845  17.596519  86.056046  6.477044  17.630881  86.267949
2010-01-07  6.337110  17.552780  86.419266  6.379843  17.609009  86.525218
2010-01-08  6.379241  17.227909  86.706856  6.379844  17.380976  86.744698

Price            Low                            Open                        \
Ticker          AAPL         KO        SPY      AAPL         KO        SPY
Date
2010-01-04  6.391279  17.774578  84.391082  6.422878  17.855797  85.041933
2010-01-05  6.417460  17.537162  85.405193  6.458087  17.758954  85.715485
2010-01-06  6.342224  17.487185  85.844142  6.451464  17.602766  85.912251
2010-01-07  6.291067  17.415332  85.654894  6.372319  17.596515  85.897070
2010-01-08  6.291369  17.102956  86.018169  6.328684  17.324747  86.192230

Price          Volume
Ticker           AAPL        KO        SPY
Date
2010-01-04  493729600  13870400  118944600
2010-01-05  601904800  23172400  111579900
2010-01-06  552160000  19264600  116074400
2010-01-07  477131200  13234600  131091100
2010-01-08  447610800  28712400  126402800

In [43]:
stocks.tail()

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2020-12-24  128.905792  46.986725  347.452515  130.361201  47.083442
2020-12-28  133.516205  47.619781  350.437408  134.151107  47.865968
2020-12-29  131.738464  47.593399  349.768860  135.567445  47.909927
2020-12-30  130.615158  47.865974  350.267883  132.832455  48.033033
2020-12-31  129.609070  48.217663  352.047546  131.611474  48.296795

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2020-12-24  347.480762  128.055998  46.617445  345.993037  128.270891
2020-12-28  350.832867  130.410033  47.241707  349.401636  130.878899
2020-12-29  352.160546  131.220772  47.496682  349.175644  134.844636
2020-12-30  351.313081  130.302581  47.505485  349.872425  132.431971
2020-12-31  352.781998  128.661591  47.716495  349.552297  130.966795

Price                                 Volume
Ticker             KO         SPY       AAPL       KO       SPY
Date
2020-12-24  46.617445  346.586225   54930100  3265500  26457900
2020-12-28  47.347215  350.032496  124486200  9020500  39000400
2020-12-29  47.874756  351.981639  121047300  8320600  53680500
2020-12-30  47.523070  350.597451   96452100  8142700  49455300
2020-12-31  47.874759  350.070169   99116600  8495000  78520700

In [45]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2769 entries, 2010-01-04 to 2020-12-31
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2769 non-null   float64
 1   (Close, KO)     2769 non-null   float64
 2   (Close, SPY)    2769 non-null   float64
 3   (High, AAPL)    2769 non-null   float64
 4   (High, KO)      2769 non-null   float64
 5   (High, SPY)     2769 non-null   float64
 6   (Low, AAPL)     2769 non-null   float64
 7   (Low, KO)       2769 non-null   float64
 8   (Low, SPY)      2769 non-null   float64
 9   (Open, AAPL)    2769 non-null   float64
 10  (Open, KO)      2769 non-null   float64
 11  (Open, SPY)     2769 non-null   float64
 12  (Volume, AAPL)  2769 non-null   int64
 13  (Volume, KO)    2769 non-null   int64
 14  (Volume, SPY)   2769 non-null   int64
dtypes: float64(12), int64(3)
memory usage: 346.1 KB

In [47]:
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2010-01-04    6.440332  17.818312   85.768463    6.455078  17.874541
2010-01-05    6.451466  17.602762   85.995499    6.487879  17.802688
2010-01-06    6.348845  17.596519   86.056046    6.477044  17.630881
2010-01-07    6.337110  17.552780   86.419266    6.379843  17.609009
2010-01-08    6.379241  17.227909   86.706856    6.379844  17.380976
...                ...        ...         ...         ...        ...
2020-12-24  128.905792  46.986725  347.452515  130.361201  47.083442
2020-12-28  133.516205  47.619781  350.437408  134.151107  47.865968
2020-12-29  131.738464  47.593399  349.768860  135.567445  47.909927
2020-12-30  130.615158  47.865974  350.267883  132.832455  48.033033
2020-12-31  129.609070  48.217663  352.047546  131.611474  48.296795

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2010-01-04   85.813869    6.391279  17.774578   84.391082    6.422878
2010-01-05   86.033341    6.417460  17.537162   85.405193    6.458087
2010-01-06   86.267949    6.342224  17.487185   85.844142    6.451464
2010-01-07   86.525218    6.291067  17.415332   85.654894    6.372319
2010-01-08   86.744698    6.291369  17.102956   86.018169    6.328684
...                ...         ...        ...         ...         ...
2020-12-24  347.480762  128.055998  46.617445  345.993037  128.270891
2020-12-28  350.832867  130.410033  47.241707  349.401636  130.878899
2020-12-29  352.160546  131.220772  47.496682  349.175644  134.844636
2020-12-30  351.313081  130.302581  47.505485  349.872425  132.431971
2020-12-31  352.781998  128.661591  47.716495  349.552297  130.966795

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2010-01-04  17.855797   85.041933  493729600  13870400  118944600
2010-01-05  17.758954   85.715485  601904800  23172400  111579900
2010-01-06  17.602766   85.912251  552160000  19264600  116074400
2010-01-07  17.596515   85.897070  477131200  13234600  131091100
2010-01-08  17.324747   86.192230  447610800  28712400  126402800
...               ...         ...        ...       ...        ...
2020-12-24  46.617445  346.586225   54930100   3265500   26457900
2020-12-28  47.347215  350.032496  124486200   9020500   39000400
2020-12-29  47.874756  351.981639  121047300   8320600   53680500
2020-12-30  47.523070  350.597451   96452100   8142700   49455300
2020-12-31  47.874759  350.070169   99116600   8495000   78520700

[2769 rows x 15 columns]

In [51]:
stocks  = pd.read_csv("stocksYT.csv")
stocks

,Price,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Ticker,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN